/* =========================================================
                    DEFAULT VALUES

                    Font family: Roboto condensed
                    
                    Greenish blue: #34c6d3 (Buttons, Icons, Links, Lines & Backgrounds)
                    Steel Gray: #41464b (Headings)
                    Blue Bayoux: #64707b (Paragraphs)
                    White: #fff (Text with black backgrounds)
                    Black: #000
=========================================================== */


body {
    font-family: "Roboto Condensed", sans-serif;
}